{% extends layout %}


{% block body %}
        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
            <h2 class="font-thin m-b">Ajouter un article</h2>
              <div class="row">

        <FORM name="form" method="post">
                    {{ form_errors(form) }}
                              <div class="form-group">
                                <SELECT name="categories" class="form-control">
                                  {% for cat in categories %}
                                    <OPTION value="{{ cat.id }}">{{ cat.name }}</OPTION>
                                  {% endfor %}
                                </SELECT>
                              </div>
                              <div class="form-group">
                                {{ form_errors(form.titre) }}
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                              </div>
                              <div class="form-group">
                                <TEXTAREA cols="80" id="ckeditor" name="contenu" rows="10"></TEXTAREA>
                                <script>
                                  var ckeditor = CKEDITOR.replace( 'ckeditor', {
                                    extraAllowedContent : 'div',
                                    height: 460
                                  } );
                                  ckeditor.on('instanceReady', function() {
                                    this.dataProcessor.writer.selfClosingEnd = '>';

                                    var dtd = CKEDITOR.dtd;
                                    for ( var e in CKEDITOR.tools.extend( {}, dtd.$nonBodyContent, dtd.$block, dtd.$listItem, dtd.$tableContent ) ) {
                                      this.dataProcessor.writer.setRules( e, {
                                        indent: true,
                                        breakBeforeOpen: true,
                                        breakAfterOpen: true,
                                        breakBeforeClose: true,
                                        breakAfterClose: true
                                      });
                                    }
                                  });
                                </script>
                              </div>

                            <input type="submit" class="btn btn-primary" value="Ajouter un article">
                            {{ form_end(form) }}

                            </div>

          </section>
        </section>
      </section>

{% endblock %}