{% extends layout %}


{% block body %}

{% if infousers.role == "1" %}
        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
            <h2 class="font-thin m-b">Ajouter une catégorie</h2>
              <div class="row">

        <FORM name="form" method="post">
                    {{ form_errors(form) }}
                              <div class="form-group">
                                {{ form_errors(form.nom) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                              </div>

                            <input type="submit" class="btn btn-primary" value="Ajouter une catégorie">
                            {{ form_end(form) }}

                            </div>

          </section>
        </section>
      </section>

      {% else %}
        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
            <h1 class="h text-white animated fadeInDownBig">Oops</h1>
              <div class="row">
                Tu n'as pas accès à cette page, pour retourner à l'accueil <a href="{{ app.index }}">clique ici</a>
              </div>
              </section>
            </section>
          </section>

      {% endif %}


{% endblock %}