{% extends layout %}


{% block body %}
        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
              <div class="row">

                {% for art in articles %}

                              <div class="col-sm-4">
                                <div class="blog-post">
                                  <div class="post-item">
                                    <div class="caption wrapper-lg">
                                      <h2 class="post-title"><a href="{{ app.index }}categories/{{ art.id_categories }}/articles/{{ art.id_articles }}">{{ art.titre|title }}</a></h2>
                                      <div class="post-sum">
                                        <p>
                                          {{ art.contenu|truncate(100)|raw }}
                                        </p>
                                      </div>
                                      <div class="line line-lg"></div>
                                      <div class="text-muted">
                                        <i class="fa fa-user icon-muted"></i> by <a href="{{ app.index }}profil/{{ art.id_utilisateurs }}" class="m-r-sm">{{ art.pseudo }}</a>
                                        <i class="fa fa-folder-open icon-muted"></i> <a href="{{ app.index }}categories/{{ art.id_categories }}" class="m-r-sm">{{ art.nom_categories }}</a>
                                        <i class="fa fa-clock-o icon-muted"></i> {{ art.date_articles }}
                                        <a href="{{ app.index }}categories/{{ art.id_categories }}/articles/{{ art.id_articles }}#comments" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> {% if art.nbCommentaires %}{{ art.nbCommentaires }} commentaire{% if art.nbCommentaires > 1 %}s{% endif %} {% else %} 0 commentaire{% endif %}</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                {% endfor %}

                            </div>

          </section>
        </section>
      </section>

{% endblock %}