{% extends layout %}


{% block body %}
        <section id="content">
          <section class="vbox">
            <section class="scrollable">

            {% if NoProfil == true %}

              <section class="hbox stretch">
                <aside class="aside-lg bg-light lter b-r">
                  <section class="vbox">
                    <section class="scrollable">
                      <div class="wrapper">
                        <div class="text-center m-b m-t">
                          <a href="#" class="thumb-lg">
                            <img src="{{ app.asset_path }}/images/a0.png" class="img-circle">
                          </a>
                          <div>
                            <div class="h3 m-t-xs m-b-xs">{{ infousers.pseudo }}</div>
                            <small class="text-muted"><i class="fa fa-map-marker"></i> {% if infousers.pays %}{{ infousers.pays }}{% else %}NC{% endif %}</small>
                          </div>                
                        </div>
 
                        <div class="btn-group btn-group-justified m-b">
                          <a class="btn btn-success btn-rounded" data-toggle="button">
                            <span class="text">
                              <i class="fa fa-eye"></i> Suivre
                            </span>
                            <span class="text-active">
                              <i class="fa fa-eye"></i> Suivi
                            </span>
                          </a>
                          <a class="btn btn-dark btn-rounded">
                            <i class="fa fa-comment-o"></i> Message
                          </a>
                        </div>
                        <div>
                          <small class="text-uc text-xs text-muted">Intérets</small>
                          <p>{% if infousers.interet %}{{ infousers.interet }}{% else %}NC{% endif %}</p>
                          <small class="text-uc text-xs text-muted">Description</small>
                          <p>{% if infousers.description %}{{ infousers.description }}{% else %}NC{% endif %}</p>
                          <div class="line"></div>
                          <small class="text-uc text-xs text-muted">Réseaux</small>
                          <p class="m-t-sm">
                            <a target="_blank" href="https://twitter.com/{% if infousers.twitter %}{{ infousers.twitter }}{% endif %}" class="btn btn-rounded btn-twitter btn-icon"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/{% if infousers.facebook %}{{ infousers.facebook }}{% endif %}" class="btn btn-rounded btn-facebook btn-icon"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="https://plus.google.com/{% if infousers.google %}{{ infousers.google }}{% endif %}" class="btn btn-rounded btn-gplus btn-icon"><i class="fa fa-google-plus"></i></a>
                          </p>
                        </div>
                      </div>
                    </section>
                  </section>
                </aside>
                <aside class="bg-white">
                  <section class="vbox">
                    <header class="header bg-light lt">
                      <ul class="nav nav-tabs nav-white">
                        <li class="active"><a href="#activity" data-toggle="tab">Activité</a></li>
                      </ul>
                    </header>
                    <section class="scrollable">
                      <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                          <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">

                          {% for activity in articles %}

                            <li class="list-group-item">
                              <a href="#" class="thumb-sm pull-left m-r-sm">
                                <img src="{{ app.asset_path }}/images/a0.png" class="img-circle">
                              </a>
                              <a href="{{ app.index }}categories/{{ activity.id_categories }}/articles/{{ activity.id_articles }}" class="clear">
                                <small class="pull-right">{{ activity.date_articles }}</small>
                                <strong class="block">{{ activity.titre }}</strong>
                                <small>{{ activity.contenu|truncate(40, true, '...')|raw }}</small>
                              </a>
                            </li>

                            {% endfor %}


                          </ul>
                        </div>

                      </div>
                    </section>
                  </section>
                </aside>

              </section>
                {% else %}
                <h1>Aucun profil.</h1>
                {% endif %}
{% endblock %}