{% extends layout %}


{% block body %}
        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
            <h3 class="font-thin m-t-xs">Résultats pour votre recherche : {{ search }}</h3>
            {% if articles == true %}
              <div class="row">
                {% for art in articles %}

                              <div class="col-sm-4">
                                <div class="blog-post">
                                  <div class="post-item">
                                    <div class="caption wrapper-lg">
                                      <h2 class="post-title"><a href="{{ app.index }}article/{{ art.id }}">{{ art.title|title }}</a></h2>
                                      <div class="post-sum">
                                        <p>
                                          {{ art.content|truncate(100)|raw }}
                                        </p>
                                      </div>
                                      <div class="line line-lg"></div>
                                      <div class="text-muted">
                                        <i class="fa fa-user icon-muted"></i> by <a href="{{ app.index }}profil/{{ art.iduser }}" class="m-r-sm">{{ art.pseudo }}</a>
                                        <i class="fa fa-folder-open icon-muted"></i> <a href="{{ app.index }}categories/{{ art.idcategory }}" class="m-r-sm">{{ art.namecategory }}</a>
                                        <i class="fa fa-clock-o icon-muted"></i> {{ art.date }}
                                        <a href="{{ app.index }}articles/{{ art.id }}#comments" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> {% if art.nbcomments %}{{ art.nbcomments }} commentaire{% if art.nbcomments > 1 %}s{% endif %} {% else %} 0 commentaire{% endif %}</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                {% endfor %}

              </div>
              {% else %}
              <p>Aucun résultat</p>
              {% endif %}

          </section>
        </section>
      </section>

{% endblock %}